<header class="header">
        <nav class="navbar navbar-light bg-my-theme">
                <a class="navbar-brand my-brand" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{{.Site.BaseURL}}"
                      >Home</a
                    >
                    <a class="nav-item nav-link" href="{{.Site.BaseURL}}/works">Works</a>
                    <a class="nav-item nav-link" href="{{.Site.BaseURL}}/vocaloid">Vocaloid Song</a>
                    <a class="nav-item nav-link" href="{{.Site.BaseURL}}/news">News</a>

                  </div>
                </div>
              </nav>
            
</header>
  