<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="container-fruid">
      {{- partial "header.html" . -}}
      <main id="content" class="container main pt-3">
        <div class="row">
          {{if .IsHome}}
          <section class="col-md-6">
                <img class="rounded img-fruid heroImage" src='{{.Site.BaseURL}}{{ "/img/icon.png" | relURL }}'>
                <p class="text-center heroImageText">よく見るアイコン</p>
          </section>
          <section class="col-md-6">
            {{ range first 1 ( where .Data.Pages "Section" "index" ) }}

                <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h2>{{.Title}}</h2>
                          <p class="card-text">{{.Content}}</p>
                        </div>
                </div>

            {{ end }}

           
          </section>
          <section class="col-md-12">
            <h2>ニュース</h2>
            {{ range first 5 ( where .Data.Pages "Section" "news" ) }}
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <h3 class="card-title">{{.Title}} ({{.Date.Format "2006-01-02" }}) </h3>
                      
                      <a href="{{.Permalink}}" class="btn btn-primary">続きを読む</a>
                    </div>
                  </div>
            {{ end }}
            <p class="mt-2">
                <a class="btn btn-primary" href="{{.Site.BaseURL}}/news">さらに古いニュース</a>
            </p>
            
          </section>
          {{ else }}
          <section class="col-md">
            {{ range (.Paginator 12).Pages }}
            <div class="card" style="width: 100%;">
                    <div class="card-body">
                      <h3 class="card-title">{{.Title}} ({{.Date.Format "2006-01-02" }}) </h3>
                      
                      <a href="{{.Permalink}}" class="btn btn-primary">続きを読む</a>
                    </div>
                  </div> 
            {{ end }}
            {{ template "_internal/pagination.html" . }}

          </section>
          {{ end }}
        </div>
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>
