<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="container-fruid">
      {{- partial "header.html" . -}}
      <main id="content" class="container main pt-3">
        <div class="row p-3">
            <section class="col-md-12 textSec p-3">
                <h2>{{.Title}}</h2>
                <section>{{.Content}}</section>
                <p>{{.Date.Format "2006-01-02"}}</p>
            </section>
            <section class="col-md-12 p-3">
                    {{ template "_internal/disqus.html" . }}
                    {{ partial "disqus.html" . }}
            </section>
            

        </div>
      </main>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>